@using System.Text.Json
@using BlazorServerApp.Data
@inject IHttpClientFactory ClientFactory
@inject MachineService MachineService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorServerApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @foreach (Machine machine in machines)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@($"{machine.MachineName}/{machine.MachineIp}")">
                    <span class="oi oi-home" aria-hidden="true"></span> @machine.MachineName
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {

    string baseurl = @"http://{0}:8080/status";
    protected override bool ShouldRender() => shouldRender;
    private List<Machine> machines = new List<Machine>();
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private bool shouldRender;
    protected override async Task OnInitializedAsync()
    {
        string[] ips = await MachineService.GetMachines();
        foreach (string ip in ips)
        {
            HttpClient client = ClientFactory.CreateClient();

            Console.WriteLine(string.Format(baseurl, ip));
            // Should be moved into its own service.
            // create custom http
            try
            {

                HttpResponseMessage response = await client.GetAsync(string.Format(baseurl, ip));
                if (response.IsSuccessStatusCode)
                {
                    Machine tempMachine = new Machine { MachineIp = ip };
                    tempMachine.MachineName = await response.Content.ReadAsStringAsync();
                    machines.Add(tempMachine);
                }
            }
            catch (Exception e)
            {
                // Block of code to handle errors
            }
        }

        shouldRender = true;
    }
}
